extends layout

block content
  .whiteSpace
    h1(style="font-weight: bold; text-align: center;") Create New Permalinks
    h3(style="font-weight: normal; color:#4DA5F4; text-align: center; margin-bottom: 45px; ") Upload JSON files to preserve embedded URLs forever.

    form(name="uploader", action="/autoTool/uploads", method="post", enctype="multipart/form-data")
      .centerMe.autoTool
        .chooserContain
          .fileUpload.btn.btn-primary
              <span>Upload</span>
              <input type="file" class="upload" name="jsonInput" id="uploadBtn" accept=".json,.pdf" multiple=""/>
          p(style="font-weight:bold; font-size: 20px;") Files Selected:
          .list-group.filesUploaded(id="fileUploadQueue")
          p(style="float:left;", id="filePrompt") No files selected.
      .centerMe.autoTool(style="background: white;")
        button.btn.btn-primary(type='submit', style="width: 100%; height: 40px; font-size: 20px; height:50px; min-width:110px")
          | Process