extends layout

block content
  .whiteSpace
    h1 Bulk Permalinking for JSON
    p.lead Its like Perma.cc, but ++.
    hr
    .row
      .col-sm-9
        h2 PermaCC++
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p