extends layout

block content
  .whiteSpace
    h1 Generated Files
    .list-group.filesUploaded(id="fileUpload")
    .fileDownload.btn.btn-primary
      <span>Download</span>
      <input type="submit" class="download" name="jsonInput" id="uploadBtn" />