extends layout

block content
  .whiteSpace
    h1 Generated Files
    .list-group.filesUploaded(id="fileUpload")
  script(type="text/javascript").
    var allFiles = !{JSON.stringify(files)};
    for (var x = 0; x < allFiles.length; x++) {
      var uploadList = document.getElementById('fileUpload');
      uploadList.innerHTML = uploadList.innerHTML+ "<a href=\"file:///Users/fpozlizzi/Web/autoTool/uploads/" + allFiles[x] + ".txt\" class=\"list-group-item\" > " + allFiles[x] + "</a>";
      var url = "file:///Users/fpozlizzi/Web/autoTool/uploads/"+ allFiles[x] + ".txt";
    }